html {
  font-family: "Noto Sans";
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input {
  max-width: 100%;
  border-color: black;
  padding: 5px;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  background-color: #4f95c4;
  padding: 5px;
  color: white;
  border-color: white;
  border-radius: 5px;
}
